@font-face {
    font-family: 'Montserrat';
    src: url(../fonts//Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: white;

  }

  .dark-mode {
    background-color: #282A36;
  }  

  .dark-mode table{
    color: #F8F8F2;
  }  

  .link:link {
    color: #2962FF;
    text-decoration: none;
  }

  .link:visited {
    color: #2962FF;
    text-decoration: none;
  }
  .link:hover {
    color: #2962FF;
    text-decoration: underline;
  }

  .link:active  {
    color: #2962FF;
    text-decoration: underline;
  }

  .header {
    color: black;
  } 
  .dark-mode .header{
    color: white;
  } 

  .dark-mode .link:link {
    color: #BBDEFB;
    text-decoration: none;
  }

  .dark-mode .link:visited {
    color: #BBDEFB;
    text-decoration: none;
  }
  .dark-mode .link:hover {
    color: #BBDEFB;
    text-decoration: underline;
  }
  .dark-mode .link:active {
    color: #BBDEFB;
    text-decoration: underline;
  }

  .icon-link {
    color: #1565C0;
    text-decoration: none;
  }

  .icon-link:hover {
    color: #1565C0;
    text-decoration: none;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  .icon-link:active  {
    color: #1565C0;
    text-decoration: none;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  .dark-mode .icon-link {
    color: #BBDEFB;
    text-decoration: none;
  }

    .dark-mode .icon-link:hover {
      color: #BBDEFB;
      text-decoration: none;
      -webkit-transform: scale(1.15)!important;
      -moz-transform: scale(1.5)!important;
      -ms-transform: scale(1.5)!important;
      -o-transform: scale(1.15)!important;
      transform: scale(1.15)!important;
    }

    .dark-mode .icon-link:active {
      color: #BBDEFB;
      text-decoration: none;
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.15);
      transform: scale(1.15);  
    }

    .wip-link {
      color: #F40009;
      text-decoration: none;
    }

    .dark-mode .wip-link {
      color: #FF5A5F;
      text-decoration: none;
    }

  .sidebar {
    text-align: center;
    position: sticky;
    top: 11;
  }

  .portrait {
    width:180px;
    height:180px;
    margin:30px;
    border-radius:3%;
  }

  .toggle-on {
    display: inline;
  }

  .toggle-off {
    display: none;
  }

  .dark-mode .toggle-on{
    display: none;
  }

  .dark-mode .toggle-off{
    display: inline;
  }
  
  .name {
    margin-top:-10px;
  }

  .position {
    margin-top:-20px;
    font-size:large;
    color: #625D5D;
  }

  .dark-mode .position {
    margin-top:-20px;
    font-size:large;
    color: #b2b2b2;
  }

  .contact {
    margin-top:-10px;
    padding-right:10px;
    padding-bottom:10px;
    font-size:medium;
    font-family: 'Courier';
  }

  .icon-bar {
    margin-top:-10px;
    text-decoration: none;
  }

  .about {
    margin-top:-20px;
    font-size:large;
  }

  .sheild-icon {
    width:55px;
    height:55px;
    vertical-align:text-bottom;
    float:left;
    margin-top:-20px;
    margin-right:10px;
  }

  .slug-icon {
    width:64px;
    height:64px;
    vertical-align:text-bottom;
    float:left;
    margin-right:5px;
  }

  .list-edu {
    margin-top:-20px;
    padding-left:90px;
    font-size:medium;
    color: #625D5D;
  }

  .dark-mode .list-edu {
    margin-top:-20px;
    padding-left:90px;
    font-size:medium;
    color: #b2b2b2;
  }

  .logo {
    width:47px;
    height:40px;
    vertical-align:text-bottom;
    float:left;
    margin-right:5px;
  }

  .top {
    margin-top:-20px;
  }

  .large {
    font-size:large;
  }

  .med {
    font-size:medium;
  }

  .bold {
    font-weight: bold;
  }

  .title {
    color: black;
    font-weight: bold;
  }

  .dark-mode .title {
    color: white;
    font-weight: bold;
  }

  .author {
    color: #625D5D;
  }

  .dark-mode .author {
    color: #b2b2b2;
  }

  .abstract {
    color: #625D5D;
    display: none;
  }

  .dark-mode .abstract {
    color: #ACACAC;
    display: none;
  }

  .venue {
    color: #A020F0;
  }

  .dark-mode .venue {
    color: #c1b6df;
  }

  .note {
    color: #F40009;
  }

  .dark-mode .note {
    color: #FF5A5F;
  }

  .amz-logo {
    width:47px;
    height:40px;
    vertical-align:text-bottom;
    float:left;
    margin-right:5px;
    background: url(../icons/amazon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .dark-mode .amz-logo{
    width:47px;
    height:40px;
    vertical-align:text-bottom;
    float:left;
    margin-right:5px;
    background: url(../icons/amazon-dark.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .theme-toggle {
    background-color: white;
    color: #625D5D;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .dark-mode .theme-toggle{
    background-color: #282A36;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .text-button {
    background-color: white;
    color: #2962FF;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #2962FF;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .text-button:hover {
    background-color: #2962FF;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #2962FF;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .dark-mode .wip-button{
    background-color: #282A36;
    color: #FF5A5F;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #FF5A5F;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .dark-mode .wip-button:hover {
    background-color: #FF5A5F;
    color: #282A36;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #FF5A5F;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  .wip-button {
    background-color: white;
    color: #F40009;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #F40009;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .wip-button:hover {
    background-color: #F40009;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #F40009;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .dark-mode .text-button{
    background-color: #282A36;
    color: #BBDEFB;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #BBDEFB;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .dark-mode .text-button:hover {
    background-color: #BBDEFB;
    color: #282A36;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
    border: 1px solid #BBDEFB;
    border-radius:5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

